@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
/* global */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* flex-container */

.flex-container {
	display: flex;
	justify-content: center;
}

/* image-wrapper */

.image-wrapper {
    width: 33.33%;
    height: 100vh;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* text-wrapper */

.text-wrapper {
	font-family: "Cinzel", serif;
	background-color: #fff;
	width: 33.33%;
	height: 100vh;
	line-height: 2;
	padding: 20px 30px;
	border-style: double;
	border-color: #6b7472;
	border-width: 20px;
	overflow: auto;
	
    h1,
	h2,
	span {
		letter-spacing: 3px;
		text-shadow: 2px 2px #9d9d9d;
	}
    
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }

    p {
        padding: 20px 0 0;
        font-weight: 700;
        font-size: 16px;
    }

    span {
        font-style: oblique;
        letter-spacing: normal;
    }
}

/* Media */

@media (max-width: 991px) {

    .flex-container {
        flex-direction: column;
    }

    .image-wrapper {
        width: 100%;

        &:first-of-type {
            display: none;
        }
    }

    .text-wrapper {
        width: 100%;
        height: auto;
        overflow: visible;
        text-align: center;
    }
}