@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
/* global */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* flex-container */

.flex-container {
	display: flex;
	justify-content: center;
}

/* image-wrapper */

.image-wrapper {
    width: 33.33%;
    height: 100vh;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}